* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar__btn {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.cart {
  border: 1px solid black;
  padding: 15px;
  flex: 0 0 calc(25% - 20px);
  display: flex;
  flex-direction: column;
}

.cart img {
  width: 100%;
}

.cart button {
  margin-top: auto;
  padding: 10px;
}

.cart:hover {
  transform: translateY(-5px);
}
